DOCTYPE plist PUBLIC"-//Apple//DTD PLIST 1.0//EN""http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
 
<dict>
<key>assets</key>
 
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://10.1.65.2/l-client.ipa </string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>fprpg.com.demo</string>
<key>bundle-version</key>
<string>1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>App Name</string>
</dict>
</dict>
</array>
</dict>
</plist>
